* {
	margin: 0;
}

.nav {
	list-style: none;
	position: fixed;
	background-color: pink;
	height: 10vh;
	display: flex;
	align-items: center;
}

.nav li {
	float: left;
	width: 33vw;
	text-align: center;
}

.container {
	height: 100%;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.crocodile {
	position: absolute;
	z-index: 100;
}

#home img {
	width: 50%;
}

#projects li {
}